html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #212A40, #202A42);
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
    background: #202A42;
}

::-webkit-scrollbar-thumb {
    background: #121825;
    border-radius: 6px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: #161c29;
}

.socket-container {
    padding: 12px;
    border-radius: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.socket-layout {
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex: 1;
}

.socket-infobox {
    background-color: #1C243A;
    width: 30%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.socket-buttonbox {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.socket-button {
    background-color: #3A4B6A;
    color: #ffffff;
    font-weight: 600;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}

.socket-connectionbox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.socket-select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #3A4B6A;
    background-color: #202A42;
    color: #ffffff;
    font-size: 0.9rem;
}

.socket-inputbox {
    display: flex;
}

.socket-input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #3A4B6A;
    background-color: #202A42;
    color: #ffffff;
    font-size: 0.9rem;
    resize: none;
    height: 200px;
}

.socket-input:focus {
    outline: none;
}

.socket-messagebox {
    background-color: #1C243A;
    border-radius: 5px;
    width: 70%;
    padding: 12px;
}

.socket-messages-header {
    display: flex;
    justify-content: space-between;
}

.socket-messages-types {
    display: flex;
    gap: 8px;
    align-items: center;
}

.socket-type {
    padding: 0 4px;
}

.socket-messages {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.socket-message {
    background-color: #202A42;
    padding: 4px;
    margin: 4px 0;
    border-radius: 4px;
    font-size: 0.8rem;
}

.socket-incoming {
    border-left: #4a48be 4px solid;
}

.socket-outgoing {
    border-left: #be6448 4px solid;
}

.socket-info {
    border-left: #bdbdbd 4px solid;
}

.socket-message-ts {
    right: 8px;
    bottom: 8px;
    font-size: 0.8rem;
    color: #888888;
    line-height: 25%;
}